<%= form_for(@device) do |f| %>
  <% if @device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
      <% @device.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :type %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <% if @device.type=="Akeru" || @device.type == "Lora" %>
      <div>
    <%= f.label :sigfox_device_id %><br />
    <%= f.text_field :sigfox_device_id   %>
  </div>  

  <div>
    <%= f.label "Sigfox mapping" %><br />
    <%= f.text_area :sigfox ,:size=>'50x5'   %><br/>
    Put the definition of the sigfox mapping. See doc for details. <a href=https://github.com/tomsoft1/OpenSensor/wiki/API#binary-binding-description> binary binding description</a>
    Example:
    [{"name":"temp","type":"int"}]
  </div>

</div>
    <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
