<p id="notice"><%= notice %></p>


<p>
  <b>Name:</b>
  <%= @device.name %>
</p>
<p><b>Device Id:</b>
	<%= @device.id %>
<p>
  <b>Description:</b>
  <%= @device.description %>
</p>
  <% if @device.type=="Akeru" %>
<p>
  <b>Sigfox device id:</b>
  <%= @device.sigfox_device_id %>
</p>
<p>
  <b>Sigfox mapping:</b>
  <%= @device.sigfox %>
  <% end %>
</p>
	<p>
	<i>Sample API Usage with cURL:
	</i><br/>
	<pre>
curl -i --header "Accept: application/json" --header "Content-Type: application/json" --header "X-ApiKey: <%= @current_user.getApiKey -%>" http://<%= API_ENDPOINT -%>/device/<%= @device.id -%>
</pre>
</p>
	<b>Sensors:</b><br>
	<% @device.sensors.each do |sensor|%>
<h5><%= link_to sensor.name,sensor_path(sensor) %><%= "(#{sensor.measures.count} measures)" %></h5>
	<% end %>
</p>
<br>
<%= link_to "New sensor","/sensors/new?device=#{@device.id}",:class=>"btn btn-primary" %>
<%= link_to 'Edit device', edit_device_path(@device),:class=>"btn" %> 
<br>
<br>

