<p id="notice"><%= notice %></p>


<p>
  <b>Name:</b>
  <%= @device.name %>
</p>

<p>
  <b>Description:</b>
  <%= @device.description %>
</p>
<p>
	<b>Sensors:</b><br>
	<% @device.sensors.each do |sensor|%>
<h5><%= link_to sensor.name,sensor_path(sensor) %><%= "(#{sensor.measures.count} measures)" %></h5>
	<% end %>
</p>
<br>
<%= link_to "New sensor","/sensors/new?device=#{@device.id}",:class=>"btn btn-primary btn-" %>
<br>
<br>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
