<div class="row">
<div class="col-md-4">
	<div class="panel panel-success panel-dark widget-profile">
    <div class="panel-heading">
    	<div class="widget-profile-header">
	     <h4>User</h4>
    	 <p><%= @user.name %></p>
    	</div>
   </div>
  <p>Email: <%= @user.email if @user.email %></p>
  <p>API_KEY: <%= @user.getApiKey  %><p>
  <p>Total number of measures: <%= @user.measures.count %></p>
</div>
</div>
</div>
<%= link_to 'Edit account', edit_user_path,:class=>"btn btn-primary" %>
<br>
<b>From here you can: </b><br/>
<%= link_to "Read the API docs","https://github.com/tomsoft1/OpenSensor/wiki/API" %> to know how to send information from a device to OpenSensorCloud<br/>
<% if @user.devices.size==0 %>
and you can sart by adding a device:<br>
<%=link_to "add device",new_device_path,:class=>"btn btn-primary" %>
<% end %>

<br/>
