<%= form_for(@widget) do |f| %>
  <% if @widget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@widget.errors.count, "error") %> prohibited this widget from being saved:</h2>

      <ul>
      <% @widget.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :dashboard_id %>
    <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
   <%= f.select(:type,options_for_select(["Default","Gauge","Chart"],:selected => @widget.type)) %>
  </div>
  <div class="field">
    <%= f.label :sensor %><br />
    <%= f.select(:sensor_id,options_for_select(@widget.dashboard.user.sensors.map{|s|[s.name,s.id]},:selected => @widget.sensor_id)) %>
  </div>

    <div class="field">
    <%= f.label :input %><br />
    <%= f.text_field :input %>
  </div>
<% if @widget.element_prototype %>
<% @widget.element_prototype.parameter_def.each do |param| %>
    <div class="field">
    <%= f.label param.name.downcase.to_sym %><br />
    <% case param.class.to_s  %>
    <% when ParameterEnum.to_s %>
    <%=       f.select(param.name.downcase.to_sym,options_for_select(param.values),:selected => @widget[param.name.downcase]) %>
    <% else %>
    <%=       f.text_field param.name.downcase.to_sym %>  
    <% end %>
  </div>

<% end %>

<% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
