
<% widget=locals[:widget] %>
<% if widget.sensor %>
 <div id='chart_div_<%= widget.id -%>'  class="200x140px" style="width:270px; height:130px"></div>
<script>

// Widget initialisation
{
	var tmp=Widget.widgets["<%= widget.id %>"];
	tmp.on_init=function(){
    console.log("on init");
    console.log(this);
	    this.gauge = new JustGage({
    	id: 'chart_div_<%= widget.id -%>', 
   		 value: <%= widget.sensor.last_measure.value -%>, 
   		 min: parseInt(this.params['min']),
   		 max: parseInt(this.params['max']),
    	title: "<%=widget.sensor.name %>",
    	label:""
    	});
    };
  tmp.on_update=function(message){
		this.gauge.refresh(message.data.value);
	}
}
</script>      
 <% else %>
 Widget not linked to a sensor 
 <% end %>