<% widget=locals[:widget] %>
<script type="text/javascript">
{
	var tmp=Widget.widgets["<%= widget.id %>"];
	tmp.on_update=function(message){
		$("#measure_"+this._id).text(message.data.value);
		$("#timeStamp_"+this._id).text(message.data.timeStamp);
	}
	tmp_<%= widget.id -%>=tmp;
}
</script>
<center>
	<%= widget.sensor.name %>
<H2><span id="measure_<%= widget.id -%>"><%= widget.sensor.last_measure.value %></span> <%= widget.sensor.unit %></H2>
Updated:<span id="<%= "timeStamp_#{widget.id}" -%>" ><%= "#{widget.sensor.last_measure.timeStamp}" %></span>
</center>