
<% widget=locals[:widget] %>
<% if widget.sensor && widget.sensor.type=="Position" %>
<div id="parent_<%= widget.id -%>">    
<div id="map_<%= widget.id -%>" style="min-width: 130px; height: <%= 140*widget.size_y -%>px; margin: 0 auto">
</div>
</div>

<script>
    // When the window has finished loading create our google map below
   var tmp=Widget.widgets["<%= widget.id %>"];

   tmp.on_init=function() {
     var latLon = new google.maps.LatLng(<%= "#{widget.sensor.last_measure.value['lat']},#{widget.sensor.last_measure.value['lon']}" -%>);

     var mapOptions = {
       center: latLon,
       zoom: 11
     };
     var mapElement = document.getElementById("map_<%= widget.id -%>");
     this.map = new google.maps.Map(mapElement, mapOptions);
     this.marker = new google.maps.Marker({
       position: latLon,
       map: this.map,
       title:"Updated:<%= widget.sensor.last_measure.timeStamp -%>"
     });
     var previousPath = [
<% widget.sensor.measures.desc(:timeStamp)[0..100].each do |measure| %>
        new google.maps.LatLng(<%= "#{measure.value['lat']},#{measure.value['lon']}" -%>),
<% end %>
    ];

     var polyOptions = {
       path: previousPath,
       strokeColor: '#3333EE',
       strokeOpacity: 0.8,
       //strokeWeight: 3
     };
     this.poly = new google.maps.Polyline(polyOptions);
     this.poly.setMap(this.map);
   }

  tmp.on_update=function(message){
    console.log(message);
    var latLng=new google.maps.LatLng(message.value.lat,message.value.lon);
/*     var marker = new google.maps.Marker({
       position: latLng,
       map: map,
       title:"Updated:"+new Date(message.timeStamp).toLocaleString()
     });*/
     this.marker.setPosition(latLng);
     this.marker.setTitle("Updated:"+new Date(message.timeStamp).toLocaleString());
     var path = this.poly.getPath();
     path.push(latLng);  
 }

      tmp.on_resize=function(message,widget){
        console.log("one resize");
        var height=$("#widget_<%= widget.id -%>").height();
        $("#map_<%= widget.id -%>").height(height-20);
        console.log(height);
        google.maps.event.trigger(this.map, "resize");
    }
 </script>
 <% else %>
 Widget not linked to a sensor 
 <% end %>