
<% widget=locals[:widget] %>
<% if widget.sensor %>
<div id="parent_<%= widget.id -%>">
<div id="container_<%= widget.id -%>" style="min-width: 130px; height: 140px; margin: 0 auto">
</div>
</div>

<script>
$(function () {
    var tmp=Widget.widgets["<%= widget.id %>"];
    tmp.options={
            chart:{
                renderTo:'container_<%= widget.id -%>',
                type:'<%= widget.param_type.downcase -%>'

            },
            title:{
                text:null
            },
            yAxis: {
                title: {
                    text: '<%= widget.sensor.name -%>'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: '°C'
            },
            legend: {
                enabled:false,
 //               layout: 'vertical',
 //               align: 'right',
 //               verticalAlign: 'middle',
 //               borderWidth: 0
            },
            series: [{
                id:1,
                name: '<%= widget.sensor.name -%>',
                data: [<%= widget.sensor.measures[-[15,widget.sensor.measures.size].min..-1].map{|v| v.value}.join(',') -%>]
            }]
        };
//    tmp.chart=$('#container_<%= widget.id -%>').highcharts(tmp.options);
       tmp.chart=new Highcharts.Chart(tmp.options);
    });
    
{
    var tmp=Widget.widgets["<%= widget.id %>"];
    tmp.on_update=function(message){
        this.chart.series[0].addPoint(message.data.value,true,true)
    }
    tmp.on_resize=function(message,widget){
        console.log("one resize");
        var height=$("#widget_<%= widget.id -%>").height();
        console.log(height);
        $("#container_<%= widget.id -%>").height(height-20);
        this.chart.reflow();
        console.log(this.chart);
    }
    tmp_<%= widget.id -%>=tmp;
}

 </script>
 <% else %>
 Widget not linked to a sensor 
 <% end %>