
<% widget=locals[:widget] %>
<% if widget.sensor %>
<div id="parent_<%= widget.id -%>">    
<div id="container_<%= widget.id -%>" style="min-width: 130px; height: 140px; margin: 0 auto">
</div>
</div>

<script>
$(function () {

    var tmp=Widget.widgets["<%= widget.id %>"];
    tmp.options={
            chart:{
                renderTo:'container_<%= widget.id -%>',
                type:'<%= widget.param_type.downcase -%>'

            },
            title:{
                text:null
            },
            xAxis:{
                type: 'datetime',
                dateTimeLabelFormats: { // don't display the dummy year
                    month: '%e. %b',
                    year: '%b'
                },
                title: {
                    text: 'Date'
                }
            },
            yAxis: {
                title: {
                    text: '<%= widget.sensor.name -%>'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: ' <%= widget.sensor.unit -%>'
            },
            legend: {
                enabled:false,
 //               layout: 'vertical',
 //               align: 'right',
 //               verticalAlign: 'middle',
 //               borderWidth: 0
            },
            series: [{
                id:1,
                name: '<%= widget.sensor.name -%>',
                data: [<%= raw(widget.sensor.measures[-[15,widget.sensor.measures.size].min..-1].map{
                            |v| "[ (new Date('#{v.timeStamp}')).getTime(),#{v.value}]"}.join(',')) -%>]
            }]
        };
//    tmp.chart=$('#container_<%= widget.id -%>').highcharts(tmp.options);
       tmp.chart=new Highcharts.Chart(tmp.options);
    });

    
{
    var tmp=Widget.widgets["<%= widget.id %>"];
    tmp.on_update=function(message){
        var toAdd=[new Date(message.data.timeStamp).getTime(),message.data.value];
        console.log(toAdd);
        this.chart.series[0].addPoint(toAdd,true,true)
    }
    tmp.on_resize=function(message,widget){
        console.log("one resize");
        var height=$("#widget_<%= widget.id -%>").height();
        console.log(height);
        $("#container_<%= widget.id -%>").height(height-20);
        this.chart.reflow();
        console.log(this.chart);
    }
    tmp_<%= widget.id -%>=tmp;
}

 </script>
 <% else %>
 Widget not linked to a sensor 
 <% end %>