<li data-row="<%= widget.row -%>" data-col="<%= widget.col -%>" data-sizex="<%= widget.size_x -%>" data-sizey="<%= widget.size_y -%>" id="<%= "widget_#{widget.id}" -%>">
<div class="header" style="background:<%= widget.color -%>"></span><%= widget.name %> <span class="edit">
	<%= link_to raw('<span class="glyphicon glyphicon-cog">'),edit_widget_path(widget) %> 
	<%= link_to raw('<span class="glyphicon glyphicon-off">'), widget, method: :delete, data: { confirm: 'Delete Widget: Are you sure?' } %> 
</span></div>
<script type="text/javascript">
{
var tmpWidget={
	id:"<%= widget.id -%>",
	name:"<% widget.name -%>",
	params:<%= raw widget.params.to_json %>,
	on_update:function(value){
		console.log(value);
	}
};
Widget.addWidget(tmpWidget.id,tmpWidget);
console.log(tmpWidget);
}
</script>
<%= render widget_partial_name(widget),locals: {widget: widget} %>
</li>
