<h1>Add widget to your dashboard</h1>
Select Widget Type:

<div class="widget_selector">
<% Widget.types.each do |type | %>

<div class="widget">
<%= image_tag "#{type}.png",:width=>120,:style=>"float:left;margin:10px" %>
<H4><%= link_to type,new_widget_path(:type=>type,:dashboard=>params[:dashboard]) %></H4>
<% if proto=Widget.find_prototype(type) %>
<%= proto.description %>
<% end %>
<%= link_to "Add widget",new_widget_path(:type=>type,:dashboard=>params[:dashboard]),:class=>"btn btn-primary btn-" %>
</div>
<% end %>
</div>

<%= link_to 'Back', widgets_path %>
