<%= form_for(@sensor) do |f| %>
  <% if @sensor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sensor.errors.count, "error") %> prohibited this sensor from being saved:</h2>

      <ul>
      <% @sensor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :device %><br />
    <%= f.select(:device_id,options_for_select(@current_user.devices.map{|d|[d.name,d.id]},:selected => @sensor.device_id)) %>
  </div>
    <div class="field">
    <%= f.label :type %><br />
    <%= f.select(:type,options_for_select(%w(Float Int Boolean String Map),:selected => @sensor.type)) %>
  </div> 
  <div class="field">
    <%= f.label :unit %><br />
    <%= f.text_field :unit %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
