<h1>Listing sensors</h1>

A sensor is a feed of data provided by a device connected to the internet. Can be forinstance your Ardunio device . You can use the API to connect devices to OpenSensorCloud.
<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Type</th>
    <th>Unit</th>
    <th>Measures</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sensors.each do |sensor| %>
  <tr>
    <td><%= link_to sensor.name,sensor %></td>
    <td><%= sensor.description %></td>
    <td><%= sensor.type %></td>
    <td><%= sensor.unit %></td>
    <td><%= sensor.measures.count %> measures</td>
    <td><%= link_to 'Show', sensor %></td>
    <td><%= link_to 'Edit', edit_sensor_path(sensor) %></td>
    <td><%= link_to 'Destroy', sensor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sensor', new_sensor_path ,:class=>"btn btn-primary"%>
