<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://js.pusher.com/2.1/pusher.min.js" type="text/javascript"></script>
<script type="text/javascript">

// Pusher
Pusher.log = function(message) {
  if (window.console && window.console.log) {
//            window.console.log(message);
  }
};
<% use_presence=false %>
var prefix="<%= if use_presence then "presence-" else "" end %>";
var pusher = new Pusher(prefix+'<%= PUSHER_KEY -%>', { authEndpoint: '/dashboard/auth' });
var channel = pusher.subscribe('<%= "sensor-#{@sensor.id}" -%>');
channel.bind('update', function(data) {
  updateDatas(data);
});

</script>
<p id="notice"><%= notice %></p>

  <b>Name:</b>
  <%= @sensor.name %>
<%= link_to 'Edit', edit_sensor_path(@sensor),:class=>"btn" %>
</p>
<p>
  <b>Description:</b>
  <%= @sensor.description %>
</p>
<p>
  <b>Id:</b>
  <%= @sensor.id %>
</p>
<p>
  <b>Type:</b>
  <%= @sensor.type %>
</p>

<p>
  <b>Unit:</b>
  <%= @sensor.unit %>
</p>
<p>Numbers of measures:<%= @sensor.measures.count %>
</p>
	<p>
	<i>Sample API Usage with cURL:
	</i><br/>
	<pre>
curl -i --header "Accept: application/json"  --header "X-ApiKey: <%= @current_user.getApiKey -%>" http://<%= API_ENDPOINT -%>/sensor/<%= @sensor.id -%>
</pre>
Update data on this feed:
  <pre>
curl -i --request POST -H 'Content-Type: application/json;'  --data '[{"sensor_id":"<%= @sensor.id -%>","value":20}]' --header "X-ApiKey: <%= @current_user.getApiKey -%>" http://<%= API_ENDPOINT -%>/device/<%= @sensor.device.id -%>
</pre>
</p>
<% if !["String","Boolean"].include? @sensor.type %>
<div id="sensor_chart" style="height: 400px; min-width: 310px"></div>
<script>
function updateGraph(message){
  var toAdd=[new Date(message.timeStamp).getTime(),message.value];
  chart.series[0].addPoint(toAdd,true,true)

}

render_data=function(data) {
    // Create the chart
     chart=new Highcharts.StockChart(
     {
      chart:{renderTo:"sensor_chart"},
      rangeSelector : {
        selected : 1,
        inputEnabled: $('#sensor_chart').width() > 480
      },
      title : {
        text : '<%= @sensor.name %>'
      },
      series : [{
        name : '<%= @sensor.unit -%>',
        data : data,
        tooltip: {
          valueDecimals: 2
        }
      }]},function(){}
      );
    };

$(function() {

  $.getJSON(
    '<%= raw("http://#{API_ENDPOINT}/sensor/#{@sensor.id}/measures?api_key=#{@current_user.api_key}&callback=?") -%>'
    , render_data);

});
</script>
<%else%>
<script>
function updateGraph(message){
  }
</script>
<% end %>
<script>
function updateDatas(message){
      $('#last_table tbody').prepend('<tr><td>'+ (new Date(message.timeStamp)).toLocaleString()+'</td><td>'+message.value+'<%= @sensor.unit %></td></tr>');
      updateGraph(message);
}
</script>
<H4>Last Measures:</H4>
<table class="table" id="last_table" width=200px>
<% @sensor.measures[-[20,@sensor.measures.count].min..-1].reverse.each do |measure| %>
<tr>
  <td><%= measure.timeStamp %></td>
  <td><%= "#{measure.value} #{@sensor.unit}"  %></td>
</tr>
<% end %>
</table>
