<h1>Listing dashboards</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dashboards.each do |dashboard| %>
  <tr>
    <td><%= dashboard.name %></td>
    <td><%= dashboard.description %></td>
    <td><%= link_to 'Show', dashboard %></td>
    <td><%= link_to 'Edit', edit_dashboard_path(dashboard) %></td>
    <td><%= link_to 'Destroy', dashboard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dashboard', new_dashboard_path %>
