<h1>Your  dashboards</h1>

<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>public?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dashboards.each do |dashboard| %>
  <tr>
    <td><%= link_to dashboard.name , dashboard %></td>
    <td><%= dashboard.description %></td>
    <td><%= dashboard.is_public %></td>
    <td><%= link_to 'Show', dashboard %></td>
    <td><%= link_to 'Edit', edit_dashboard_path(dashboard) %></td>
    <td><%= link_to 'Destroy', dashboard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dashboard', new_dashboard_path,:class=>"btn btn-primary" %>
