<%= form_for(@trigger) do |f| %>
  <% if @trigger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trigger.errors.count, "error") %> prohibited this trigger from being saved:</h2>

      <ul>
      <% @trigger.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.select(:type,options_for_select(["email","twitter"],:selected=>@trigger.type)) %>
  </div>
    <div class="field">
    <%= f.label :target %><br />
    <%= f.text_field :target %>
  </div>
    <div class="field">
    <%= f.label :is_dm %><br />
    <%= f.select(:is_dm,options_for_select(["true","false"],:selected=>@trigger.is_dm)) %>
  </div>
  <div class="field">
    Condition: <br />
    <%= f.select(:sensor_id,options_for_select(@current_user.sensors.map{|s|[s.name,s.id]},:selected => @trigger.sensor_id)) %>

    <%= f.select(:operator,options_for_select(Trigger.operators.invert,:selected => @trigger.operator)) %>
    <%= f.text_field :limit %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
