<h1>Your triggers</h1>

<div class="row">
 <div class="span8">
Triggers are action that are generated when a specific value is reached by a sensor. Triggers include email sending,tweet, or direct message to somebody else.

<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>sensor</th>
    <th>Operator</th>
    <th>Limit</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @triggers.each do |trigger| %>
  <tr>
    <td><%= link_to trigger.name,trigger %></td>
    <td><%= trigger.type %></td>
    <td><%= trigger.sensor.name %></td>
    <td><%= trigger.operator %></td>
    <td><%= trigger.limit %></td>
    <td><%= link_to 'Show', trigger %></td>
    <td><%= link_to 'Edit', edit_trigger_path(trigger) %></td>
    <td><%= link_to 'Destroy', trigger, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
</span>
<br />

<%= link_to 'New Trigger', new_trigger_path,:class=>"btn btn-primary" %>
</div>
</div>
