<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="OpenSensorCloud" />
<meta name="description" content="OpenSensorCloud provides tools for the internet of things and connected devices" />
<meta name="keywords" content="opensensorcloud,iot,internet of things,connected devices,sigfox,arduino" />
    <title><%= content_for?(:title) ? yield(:title) : "OpenSensor" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
<link rel="icon" type="image/png"  href="/favicon.png">
    <%= javascript_include_tag "application" %>
  </head>
  <body class="theme-default main-menu-animated">
<script>var init = [];</script>

    <div id="main-wrapper">
<!-- 2. $MAIN_NAVIGATION ===========================================================================

  Main navigation
-->
  <div id="main-navbar" class="navbar navbar-inverse" role="navigation">
    <!-- Main menu toggle -->
    <button type="button" id="main-menu-toggle"><i class="navbar-icon fa fa-bars icon"></i><span class="hide-menu-text">HIDE MENU</span></button>
    
    <div class="navbar-inner">
      <!-- Main navbar header -->
      <div class="navbar-header">

        <!-- Logo -->
        <a href="/" class="navbar-brand">
          <div><%= image_tag "/logoWhite.png",:width=>24 -%> </div>
          OpenSensorCloud
        </a>

        <!-- Main navbar toggle -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse"><i class="navbar-icon fa fa-bars"></i></button>

      </div> <!-- / .navbar-header -->

      <div id="main-navbar-collapse" class="collapse navbar-collapse main-navbar-collapse">
        <div>
            <ul class="nav navbar-nav">
              <li><%= link_to "API Doc", "https://github.com/tomsoft1/OpenSensor/wiki/API"  %></li>
              <% if isUserAdmin? %>
              <li><%= link_to "Users", users_path  %></li>
              <li><%= link_to "Devices", devices_path  %></li>
              <li><%= link_to "Sensors", sensors_path  %></li>
              <li><%= link_to "Mesures", measures_path  %></li>
              <% end %>
          </ul> <!-- / .navbar-nav -->

          <div class="right clearfix">
            <ul class="nav navbar-nav pull-right right-navbar-nav">

<!-- 3. $NAVBAR_ICON_BUTTONS =======================================================================

              Navbar Icon Buttons

              NOTE: .nav-icon-btn triggers a dropdown menu on desktop screens only. On small screens .nav-icon-btn acts like a hyperlink.

              Classes:
              * 'nav-icon-btn-info'
              * 'nav-icon-btn-success'
              * 'nav-icon-btn-warning'
              * 'nav-icon-btn-danger' 
-->

<!-- /3. $END_NAVBAR_ICON_BUTTONS -->

              <li class="dropdown">
                <a href="#" class="dropdown-toggle user-menu" data-toggle="dropdown">
                   <%= image_tag "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(@current_user.email.strip.downcase)}",:width=>24 unless !@current_user %>
                  <span><%= @current_user.name unless !@current_user %></span>
                </a>
                <ul class="dropdown-menu">
<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
  <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Login', new_user_session_path %></li>
  <li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>                </ul>
              </li>
            </ul> <!-- / .navbar-nav -->
          </div> <!-- / .right -->
        </div>
      </div> <!-- / #main-navbar-collapse -->
    </div> <!-- / .navbar-inner -->
  </div> <!-- / #main-navbar -->
<!-- /2. $END_MAIN_NAVIGATION -->

<!-- 4. $MAIN_MENU =================================================================================

    Main menu
    
    Notes:
    * to make the menu item active, add a class 'active' to the <li>
      example: <li class="active">...</li>
    * multilevel submenu example:
      <li class="mm-dropdown">
        <a href="#"><span class="mm-text">Submenu item text 1</span></a>
        <ul>
        <li>...</li>
        <li class="mm-dropdown">
          <a href="#"><span class="mm-text">Submenu item text 2</span></a>
          <ul>
          <li>...</li>
          ...
          </ul>
        </li>
        ...
        </ul>
      </li>
-->
  <div id="main-menu" role="navigation">
    <div id="main-menu-inner">
<% if @current_user %>
      <div class="menu-content top" id="menu-content-demo">
        <!-- Menu custom content demo
           CSS:        styles/pixel-admin-less/demo.less or styles/pixel-admin-scss/_demo.scss
           Javascript: html/assets/demo/demo.js
         -->
        <div>
          <div class="text-bg"> <span class="text-slim"><%= @current_user.name %></span></div>

          <%= image_tag "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(@current_user.email.strip.downcase)}" %>
          <div class="btn-group">
            <%= link_to raw("<i class='fa fa-tablet'></i>"), @current_user,:class=>"btn btn-xs btn-primary btn-outline dark" %>
            <%= link_to raw("<i class='fa fa-cog'></i>"), edit_user_registration_path,:class=>"btn btn-xs btn-primary btn-outline dark" %>
            <%= link_to raw("<i class='fa fa-power-off'></i>"),  destroy_user_session_path, :method=>'delete',:class=>"btn btn-xs btn-primary btn-outline dark" %>
          </div>
          <a href="#" class="close">&times;</a>
        </div>
      </div>
      <ul class="navigation">
              <li class="mm-dropdown">
                <a href="#"><i class="menu-icon fa fa-sitemap"></i><span class="mm-text"><%= "Devices" %></span><span class="label label-success"><%= @current_user.devices.count %></span></a>
                <ul>
                  <li>
                    <a tabindex="-1" href=<%= devices_path -%> ><span class="mm-text">Manage devices</span></a>
                  </li>
                  <% @current_user.devices.each do |device| %>
                  <li>
                    <a tabindex="-1" href=<%= device_path device -%> ><span class="mm-text"><%= device.name %></span></a>
                  </li>
                  <% end %>
                </ul>
              </li>

              <li class="mm-dropdown">
                <a href="#"><i class="menu-icon fa fa-flask"></i><span class="mm-text">Sensors</span><span class="badge badge-primary"><%= @current_user.sensors.count %></span></a>
                <ul>
                  <li>
                    <a tabindex="-1" href=<%= sensors_path -%> ><span class="mm-text">Manage sensors</span></a>
                  </li>
                  <% @current_user.sensors.each do |sensor| %>
                  <li>
                    <a tabindex="-1" href=<%= sensor_path sensor -%> ><span class="mm-text"><%= sensor.name %></span></a>
                  </li>
                  <% end %>
                </ul>
              </li>
              <li class="mm-dropdown">
                <a href="#"><i class="menu-icon fa fa-bell-o"></i><span class="mm-text">Triggers</span><span class="label label-warning"><%= @current_user.triggers.count %></span></a>
                <ul>
                  <li>
                    <a tabindex="-1" href=<%= triggers_path -%> ><span class="mm-text">Manage Triggers</span></a>
                  </li>
                  <% @current_user.triggers.each do |trigger| %>
                  <li>
                    <a tabindex="-1" href=<%= trigger_path trigger -%> ><span class="mm-text"><%= trigger.name %></span></a>
                  </li>
                  <% end %>
                </ul>
              </li>
              <li class="mm-dropdown">
                <a href="#"><i class="menu-icon fa fa-dashboard"></i><span class="mm-text">Dashboards</span><span ></a>
                <ul>
                  <li>
                    <a tabindex="-1" href=<%= dashboards_path -%> ><span class="mm-text">Manage Dashboards</span></a>
                  </li>
                  <% @current_user.dashboards.each do |dashboard| %>
                  <li>
                    <a tabindex="-1" href=<%= dashboard_path dashboard -%> ><span class="mm-text"><%= dashboard.name %></span></a>
                  </li>
                  <% end %>
                </ul>
              </li>
          </ul>
        </li>
      </ul> <!-- / .navigation -->
      <% end %>
    </div> <!-- / #main-menu-inner -->
  </div> <!-- / #main-menu -->
  <div id="content-wrapper" >

          <%= bootstrap_flash %>
          <%= yield %>

      <footer>
        <p>&copy; Tomsoft 2014</p>
        Follow us on Twitter: <a href="https://twitter.com/opensensorcloud" class="twitter-follow-button" data-show-count="false">Follow @opensensorcloud</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </footer>

    </div> <!-- /container -->
</div>
</div>
<div id="main-menu-bg"></div>
  </body>
  <script type="text/javascript">
  init.push(function () {
    // Javascript code here
  })
  window.PixelAdmin.start(init);
</script>
<% if ENV["RAILS_ENV"]=='production' %>
<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=9800920; 
var sc_invisible=1; 
var sc_security="9a8374e1"; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="web analytics"
href="http://statcounter.com/" target="_blank"><img
class="statcounter"
src="http://c.statcounter.com/9800920/0/9a8374e1/1/"
alt="web analytics"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->
<% end %>
</html>
